<div class='row'>
  <div class='medium-4 columns users-list'>
    <div class='row collapse'>
      <div class='small-10 columns'>
        {{input-eventable placeholder='Enter github username ...' value=newUsername onKey='userNameOnKey'}}
      </div>
      <div class='small-2 columns'>
        <button class='button postfix' {{action 'createUser'}}>Go</button>
      </div>
    </div>
    {{#if errorMessage}}
      <span class='error'>{{errorMessage}}</span>
    {{/if}}
    <ul class='show-for-medium-up'>
      {{#each}}
        <li>{{#link-to 'user' userName }}{{userName}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  <div class='medium-6 columns'>
    {{outlet}}
  </div>
<div>
